body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.header-logo img {
    height: 50px;
    margin-left: 10px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    text-align: right;
}

.header-nav ul li {
    margin: 0 10px;
    text-decoration: underline;
}

.header-nav ul li a:link, a:visited {
    color: seashell;
}

.container-mission {
    position: relative;
}

.container-mission img {
    display: block;
    margin: 0 auto;
    height: 700px;
    width: 1200px;
}

.mission-banner {
    position: absolute;
    top: 40%;
    text-align: center;
    background-color: black;
    width: 100%;
}

.container-tea {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

.tea-banner {
    text-align: center;
}

.tea-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tea-photo img {
    width: 300px;
    height: 200px;
    margin: 0 10px;
}

.tea-photo h4 {
    margin-top: 10px;
}

.container-location {
    position: relative;
}

.location-banner > h2 {
    position: absolute;
    top: 30px;
    left: 635px;
}

.location-banner img {
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 1200px;
    object-fit: cover;
}

.location-address {
    text-align: center;
    background-color: black;
    opacity: 1;
    width: 300px;
    padding: 5px;
}

.downtown {
    position: absolute;
    top: 115px;
    left: 210px;
}

.eastbayside {
    position: absolute;
    top: 115px;
    left: 557px;
}

.oakdale {
    position: absolute;
    top: 115px;
    right: 210px;
}

.location-address > p {
    line-height: 50px;
}

.contact {
    text-align: center;
    height: 200px;
}

.copyright {
    margin-left: 20px;
}

.container-mission, .container-location, .container-tea {
    margin-bottom: 50px;
}




